td {
    vertical-align: top;
}

ul .makecolumns {
  columns: 6;
  -webkit-columns: 6;
  -moz-columns: 6;
}


#stamboomheader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #7FCFFF;
	font-size: 16px;
}



#stamboomheader	a:link, a:visited {
	    width: 120px;
	    font-weight: bold;
	    color: #FFFFFF;
	    background-color: #2198bf;
	    text-align: center;
	    padding: 4px;
	    text-decoration: none;
	    text-transform: uppercase;
	}

/*#content a:visited { /*The above block overrides the default to white so this sets it back to purple
	color: purple;
}*/

#content a:visited { /* Sets the visited links to show like the normal links. */
	color: blue;
}

#stamboomheader	a:hover, a:active {
	    background-color: #1A7A99;
	}

#nav, #nav ul{
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
		list-style: none;
	}

#nav li  {
	float:left;
	width: 120px;
	}


#nav ul {
	position: absolute;
	left: -1000px;
	width: 120px;
}

#nav li:hover ul, #nav li.ie_does_hover ul  {
	left: auto;
	background-position: 0 0;
}

#nav a {
display: block;
}
