td {
    vertical-align: top;
}

#stamboomheader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #FFFF00;
	font-size: 12px;
	height: 2.1em;
	border-bottom: 1px solid #FCFCFC;
}