<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>EDIT {{ name }}</title>
</head>
<body>
<h1>{{ name }}</h1>
<table>
    <tr>
        <td>
            <img src='{{ image }}' alt="Loading image" style="max-height:400px;max-width:400px" />
        </td>
        <td>
            <h2>Wijzig afbeelding</h2>
            <form action="upload/" method="post" enctype="multipart/form-data">
                selecteer .jpg bestand :<input type="file" name="file"><br /><br />
                bevestig hier:<input type="submit" value="Upload">
            </form>
        </td>
    </tr>
</table>


</body>

</html>