<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>EDIT {{ name }}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
{{ titlebar | safe }}
<h1>{{ name }}</h1>
<table>
    <tr>
        <td style="width:300px">
            <img src='{{ image }}' alt="Loading image" style="max-height:300px;max-width:300px" />
        </td>
        <td style="width:300px">
            <h2>data</h2>
            {{ form.3 |safe }}
            <h2>Wijzig afbeelding</h2>
            <form action="upload/" method="post" enctype="multipart/form-data">
                selecteer .jpg bestand :<input type="file" name="file"><br /><br />
                bevestig hier:<input type="submit" value="Upload">
            </form>

        </td>
        <td rowspan="3">
            <h2>locale stamboom</h2>
            {{ tree |safe }}
        </td>
    </tr>
    <tr>
        <td>
            <h2>ouders</h2>
                <a id="displayParents" href="javascript:toggle('displayParents','toggleParents');">bewerk</a>
                <div id="toggleParents" style="display: none">{{ form.0 | safe}}</div>
            {{ data.0 |safe }}
        </td>
        <td>
            <h2>partners</h2>
                <a id="displayP" href="javascript:toggle('displayP','toggleP');">bewerk</a>
                <div id="toggleP" style="display: none">{{ form.1 | safe}}</div>
            {{ data.1 |safe }}
        </td>
    </tr>
    <tr>
        <td>
            <h2>broers/zussen</h2>
            {{ data.3 |safe }}
        </td>
        <td>
            <h2>kinderen</h2>
                <a id="displayC" href="javascript:toggle('displayC','toggleC');">bewerk</a>
                <div id="toggleC" style="display: none">{{ form.2 | safe}}</div>
            {{ data.2 |safe }}
        </td>
    </tr>

</table>

<script>
function toggle(link,display) {
	var ele = document.getElementById(display);
	var text = document.getElementById(link);
	if(ele.style.display == "block") {
    		ele.style.display = "none";
		text.innerHTML = "bewerk";
  	}
	else {
		ele.style.display = "block";
		text.innerHTML = "verberg";
	}
}
{{ tree_script |safe }}
</script>
</body>

</html>