

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    Dag (Degenen van wie ik het emailadress al heb toegevoegt)<br/>
    <br/>
    De stamboom van de doxen heeft vanaf nu een website.<br/>
    De link is niet bijgevoegt omdat google anders denkt dat dit spam is.<br/>
    Of mischien is dit gewoon omdat het bericht net een beetje gewijzigd is.<br/>
    link: <a href="http://lightning939.pythonanywhere.com/stamboom/">http://lightning939.pythonanywhere.com/stamboom/</a>
    Op zich is dat ni erg, aangezien dit bericht gewijzigd moet worden voor naar het grote public te sturen.
    <br/><br/>
    Je hebt geen gebruikersnaam of wachtwoord nodig om de stamboom te bekijken, maar om deze te bewerken wel.<br/>
    Voor in te loggen, gebruikt volgende informatie<br/>
    <br/><br/>
    Gebruikersnaam: {{ username }}<br/>
    wachtwoord: {{ password }}<br/>
        <br/><br/>
    Dit bericht werd automatisch verstuurd.<br/>
    De inbox van stamboom.dox@gmail.com wordt gerelmatig gelezen, dus indien u vragen hebt kan u gewoon antwoorden op deze mail

</body>
</html>




