

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    Dag Allemaal<br/>
    <br/>
    De stamboom van de doxen heeft vanaf nu een website.<br/>
    <!--De link is niet bijgevoegt omdat google anders denkt dat dit spam is.<br/>-->
    link: http://lightning939.pythonanywhere.com/stamboom/
    <br/><br/>
    Je hebt geen gebruikersnaam of wachtwoord nodig om de stamboom te bekijken, maar om deze te bewerken wel.<br/>
    Om in te loggen, gebruikt volgende informatie<br/>
    <br/><br/>
    Gebruikersnaam: {{ username }}<br/>
    wachtwoord: {{ password }}<br/>
        <br/><br/>
    Dit bericht werd automatisch verstuurd.<br/>
    De inbox van stamboom.dox@gmail.com wordt gerelmatig gelezen, dus indien u vragen hebt kan u antwoorden op deze mail

</body>
</html>




