


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Automatic email</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
    Dag Allemaal<br/>
    <br/>
    De stamboom van de doxen heeft vanaf nu een website.<br/>
    Deze vind je via volgende link <a href="http://lightning939.pythonanywhere.com/stamboom/">http://lightning939.pythonanywhere.com/stamboom/</a>
    <br/><br/>
    Je hebt geen gebruikersnaam of wachtwoord nodig om de stamboom te bekijken, maar om deze te bewerken wel.<br/>
    Voor in te loggen, gebruikt volgende informatie<br/>
    <br/><br/>
    Gebruikersnaam: {{ username }}<br/>
    wachtwoord: {{ password }}<br/>
        <br/><br/>
    Dit bericht werkt automatisch verstuurd.<br/>
    De inbox van stamboom.dox@gmail.com wordt gerelmatig gelezen, dus indien u vragen hebt kan u gewoon antwoorden op deze mail

</body>
</html>




