<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>EDIT</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{{ titlebar | safe }}
<table>
    <tr>

        <td>
            <h2>Voeg nieuwe persoon toe</h2>
            <form action="/list/newperson/" method="post" enctype="multipart/form-data">
                Naam:<input type="text" name="name"><br /><br />
                <input type="submit" value="Voeg toe">
            </form>
        </td>
        <td>{{ people | safe }}</td>
    </tr>
</table>


</body>

</html>