<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>EDIT</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{{ titlebar | safe }}
<table>
    <tr>
        <td>
            <h2>Voer commando uit</h2>
            <form action="rawcommand/" method="post" enctype="multipart/form-data">
                <input type="text" name="command"><br /><br />
                <input type="submit" value="Uitvoeren">
            </form>
        </td>
        <td nowrap><p style="font-family: 'Courier New'">{{ code |safe}}</p></td>
    </tr>

</table>


</body>

</html>