
<style>
ul.titlebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.titlebar {
    float: left;
}

a:link.titlebar, a:visited.titlebar {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover.titlebar, a:active.titlebar {
    background-color: #7A991A;
}
#header-fixed{
    position: fixed;
    top: 0px; display:none;
}

</style>

<ul class="titlebar" id="header-fixed">
    <li class="titlebar"><a class="titlebar" href="/">Home</a></li>
  <li class="titlebar"><a class="titlebar" href="/stamboom/">Stamboom</a></li>
  <li class="titlebar"><a class="titlebar" href="/stamboom/list/people/">Lijst</a></li>
  <li class="titlebar"><a class="titlebar" href="/stamboom/console/">Console</a></li>
    <li class="titlebar"><a class="titlebar" href="logout">{{ username }}</a></li>
</ul>
